body {
    background-color: rgb(1, 50, 1);
    color: #fff;
}

.wrapper {
}
.page {
    width: 750px;
    margin: 0 auto;
    padding-top: 5vh;
}
.page__section {
    margin-top: 1000px;
    padding-bottom: 200px;
}
.page__section:first-child {
    margin-top: 0px;
    padding-bottom: 0;
}

.page__container {
}
.page__title {
    font-size: 34px;
    color: coral;
}
.page__row {
    margin-top: 3vh;
    padding-bottom: 1px;

    width: 60%;

    display: flex;
    gap: 30px;

    color: aquamarine;
    font-size: 34px;
    font-weight: 800;
}
.page__counter {
    flex:  0 1 33.3333%;
}